@charset "UTF-8";

.wrapper{
  width: 100%;
  background: #cff1ff;
}

.inner{
  margin: 0 auto;
  width: 600px;
}

.main-title{
  padding-top: 60px;
  font-size: 28px;
  text-align: center;
}

.content-title{
  font-size: 24px;
  text-align: center;
}